<div class="container">
    <!-- Loading State -->
    <div class="loading-container" *ngIf="isLoading">
      <div class="spinner"></div>
    </div>
  
    <!-- Error Message -->
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
  
    <!-- Hotel Table -->
    <table class="hotel-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Price/Night</th>
          <th>Rating</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hotel of hotels$ | async">
          <td>{{ hotel.title }}</td>
          <td>{{ hotel.description }}</td>
          <td>${{ hotel.pricePerNight }}</td>
          <td>{{ hotel.rating }}</td>
          <td>{{ hotel.address.city }}, {{ hotel.address.country }}</td>
          <td>
            <div class="actions">
              <button class="update" (click)="onUpdate(hotel._id)">Update</button>
              <button class="delete" (click)="onDelete(hotel._id)">Delete</button>
              <button class="details" (click)="onDetails(hotel._id)">Details</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>